<!-- Home.html -->
    
        <div class="container-fluid">
         <div id ="mySlider" class="carousel slide">
            <ul class="carousel-indicators ">
                <li data-target= "#mySlider" data-slide-to="0" class="active"></li>
                <li data-target= "#mySlider"  data-slide-to="1"></li>
                <li data-target= "#mySlider" data-slide-to="2"></li>    
            </ul>
<!--            first image of the carousel-->
            <div class="carousel-inner">
                <div class="item active sl">
                    <img class="img" src="Homepage_(sale)_6th_Dec.jpg" alt=""/>
                    <div class="carousel-caption">
                    
                    </div>
                </div>
<!--                2nd item-->
                <div class="item sl">
                    <img class="img" src="slideshow_1a_brighton.jpg" alt=""/>
                    
                    <div class="carousel-caption">
                       
                    </div>
                    
                </div>
<!--                3rd item-->
                <div class="item sl">
                    <img class="img " src="slideshow_4_terry_study_table.jpg" alt=""/>
                    
                    <div class="carousel-caption">
                    
                </div>
            </div>
   