



<!--<ul>
<li ng-repeat="x in dataimage">
<img src="{{x}}" />
</li>

</ul>-->

<div class="row">
				<div class="col-md-12"  style="">
				<!--<h1 style=" font-size:400% ; margin-top:50px"  class="help-block  "   ng-show="true">search your furnitures </h1> -->
				<ul class="list-inline pull-right" >
				<li  ng-repeat="x in urlfun" class="pull-right thumbnail" style=" margin-left:20px;  width:250px; height:150px; margin-top:5px">
				<img class="img-responsive " src="{{x}}" alt="" />
				</li>
				</ul>
				</div>
				
</div>

<div class="container-fluide"    id="boxsearch"  style=" z-index:2; width:350px ;position:absolute; height:650px; top:-220px;left:-175px;background-color:white; border-style:solid; border-color:blue;">
<h4 style="width:100%; background-color:blue; color:white; text-align:center; font-size:100% ; margin-top:0px;" >box ask</h4>


<div class="" style="height:580px; background-color:white;" >
<p ng-repeat="x in chat" ><span style="margin-left:0px; color:blue">{{x.sender}} :</span>{{x.message}}</p>
</div>

<form>
<div class="input-group" style="margin-top:0px;">
  <input type="text" class="form-control" placeholder="Enter funitures" aria-describedby="basic-addon2"  ng-model="usermessage">
  <button class="input-group-addon" id="basic-addon2" ng-click="search()">search</button>
</div>
</form>
</div>




